{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    <title>Home</title>
{% endblock %}
{% block headers %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>

{% endblock %}
{% block content %}
    <input id="searchPlace" class="controls hidden" type="text" placeholder="Search a location"
           xmlns="http://www.w3.org/1999/html"/>
    <div id='mapDiv' class="fixed-height"></div>

    <div id="spinner" class="spinner"><img src="/static/images/spinner.gif" height="50px" width="50px"></div>
    <div class="g-sign-in hidden">
        <p style="font-size: 18px; font-weight: 400; margin-bottom: 10px">Radix makes use of the Google Earth
            Engine and needs your basic information to access it.</p><br/>
        <span class="label">Sign in with:</span>

        <div class="button">
            <span class="icon"><img src="/static/images/apple-touch-icon-precomposed.png" height="28px" width="28px"></span>
            <span class="wordmark"><img src="/static/images/apple-touch-icon-precomposed.png" height="39px" width="80px"></span>
        </div>
    </div>
    <div id='optionsDiv' class="col-md-4 hidden fixed-height-w-overflow">
        <form role="form">
            <div class="form-group">
                <label class="heading">Visualization Features</label><br/>

                <div style="display:inline-block">
                    <select id="feature" class="selectpicker show-menu-arrow show-tick" data-size="5"
                            title="Choose a feature">
			 <option value="avgTemp">Avg. Temperature</option>
			 <option value="avgCO2">Avg. CO2</option>
			 <option value="avgHumidity">Avg. Humidity</option>
                    </select>
                    <button id='fetchVisFeature' type="button" class="btn theme-bg-border marginleft">Submit
                    </button>
                </div>
            </div>
            
        </a><a href="#" id="showFeatures" title="Show" class="hidden" style="text-decoration: none">
            <span class="glyphicon glyphicon-eye-open icon-theme"></span>
        </a><br/>
  

        </form>

        <div id="chart">
            <label class="heading">Plot Overview</label><br/>



            <label class="sub-heading" style="padding-top: 2px;">Statistics</label><br/>
            <div id="stats">
                 Enter a plot ID to view a summary
            </div>
            <br/>
            <div id="chart-container"></div>
            <br/>
            <div id="charttype">
                <input id="plotID" 
                        title="Input a plot number" type = "number">
			
                </input>
                <label style="padding-left: 10px"> </label>
                <select id="chartid" class="selectpicker show-menu-arrow show-tick" data-width="35%">Chart type
                    <option value="line">Line Chart</option>
                    <option value="column">Column Chart</option>
                    <option value="areaspline">Area Spline</option>
		    <option value="scatter">Scatter Plot</option>
                </select>
                <label style="padding-left: 10px"> </label>
                <select id="xaxis" class="selectpicker show-menu-arrow show-tick smallmargintop" data-width="35%"
                        data-size="5" title="Choose X-Axis">
                    <option>Date</option>
                </select>
                <button id='show-chart' type="button" class="btn theme-bg-border marginleft smallmargintop">Show!</button>
            </div>
            <div id="yaxisdiv">
                <label class="sub-heading">Y-Axis</label> <a href="#" id="addY"><span
                    class="glyphicon glyphicon-plus-sign icon-theme"></span></a>

                <div id="yaxes">
                    <select id="y1" class="selectpicker show-menu-arrow show-tick " data-width="34%"
                            data-size="5" title="Choose a feature">
			<option>max_temperature</option>
			<option>min_temperature</option>
			<option>avg_temperature</option>
			<option>std_temperature</option>
			<option>max_humidity</option>
			<option>min_humidity</option>
			<option>avg_humidity</option>
			<option>std_humidity</option>
			<option>max_CO2</option>
			<option>min_CO2</option>
			<option>avg_CO2</option>
			<option>std_CO2</option>
			<option>max_r1</option>
			<option>min_r1</option>
			<option>avg_r1</option>
			<option>std_r1</option>
			<option>max_r2</option>
			<option>min_r2</option>
			<option>avg_r2</option>
			<option>std_r2</option>
			<option>max_r3</option>
			<option>min_r3</option>
			<option>avg_r3</option>
			<option>std_r3</option>
			<option>max_r4</option>
			<option>min_r4</option>
			<option>avg_r4</option>
			<option>std_r4</option>
                    </select>
                </div>
            </div>
            <br/><br/>
	<div>
	    <label class="sub-heading">Query</label>
	    <input id="feature" name='feature' title="Enter a feature" type="text"></input>
	    <input id="op" name="op" title="Operation (=, <, >, <=, >=)" type="text"></input>
	    <input id="value" name="value" title="Value to compare" type="text"></input>
	    <button id="queryselection" type="button" class="btn theme-bg-border marginleft smallmargintop">Submit!</button>
	</div>
	
	<br/><br/>
    	Polygon Query
    	<div style="margin-top: 15px;">
        	<div style="margin: 0px 20px 0px 20px">
            	<select id='polygonid' name='polygonid' class="selectpicker form-control show-menu-arrow show-tick"
                	data-size="5" title="Choose a polygon"
                	{% if polygons|length > 5 %} data-live-search="true" {% endif %}>
                  {% for polygon in polygons %}
                  	<option value="{{ polygonid.id }}"
                            data-polygon='{{ polygon.json }}'>{{ polygon.name }}</option>
                  {% endfor %}
           	 </select>
	    	<button id="polygon-query" type="button" class="btn theme-bg-border marginleft smallmargintop" >Submit!</button>
        	</div>
    	</div>
	<!-- For anything to function properly it must go above the next line. Not entirely sure why, but it works. -->
            <div id="chart_div"></div>

        </div>
	
        <!-- Modal -->
        <div class="modal fade" id="polygon-modal" role="dialog" data-keyboard="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body" style="padding-top: 5px">
                    <label class="sub-heading">Name this Polygon</label>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <input type="text" class="form-control" id="polygon-name" placeholder="type polygon name here"/>
                    <button id="save-polygon" type="button" class="btn theme-bg-border"
                            style="padding: 5px 10px 5px 10px; margin-top: 15px;">Save
                    </button>
                </div>
            </div>
        </div>

    </div>

    

	<div id="legendDiv" class="hidden"
         style="text-align: center; position: absolute; bottom: 0; height: 40px; width: 100%;">
        <div id="colorLegend" style="display: inline-block; line-height: 40px; background: white;
             padding-left: 10px; padding-right: 10px; font-size: 20px; border-top-right-radius: 8px;
             border-top-left-radius: 8px; box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.5);" class="disable-select"></div>
        </div>
{% endblock %}
{% block bodyscripts %}
    <script src="/static/js/columbus-home.js"></script>
    <!-- Loading the Google Maps API. -->
    <script src="https://maps.google.com/maps/api/js?libraries=places,drawing,visualization&callback=initMap&key=AIzaSyBscS7Up4h09zW84i8jfmpuzPIgjjUEsrM"
            async defer>
    </script>
 
    <!-- Loading compiled Earth Engine JavaScript client library. -->
    <script src="/static/js/ee_api_js.js"></script>
{% endblock %}
