
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Radix</title>
    <link rel="shortcut icon" href="/static/images/apple-touch-icon-precomposed.png"/>
    <!--Loading the bootstrap css-->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <!-- Loading the columbus css -->
    <link href="/static/css/columbus-style.css" rel="stylesheet" media="screen"/>
    <!-- Loading the Roboto font. -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <!-- Loading jQuery, a 3rd-party library. -->
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <!-- Loading bootstrap.js -->
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
<div class="col-md-12 fill-height">
    <div class="row fill-height">
        <header>
            <ul class="brand">
                <li><a style="text-decoration: none" href="/?page=index">Radix</a>
                </li>
            </ul>
        </header>
        <div class="col-md-4"></div>
        <div class="col-md-4">
	    <form role="form" class="margintop" action="/verify" method="post" style="text-align: center">
                <img src="/static/images/apple-touch-icon-precomposed.png" width="50%" height="50%" style="margin-bottom: 50px;"/>
                {% csrf_token %}
                {% if error != None %}
                    <div style="align-content: center;" class="alert alert-danger fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ error }}
                    </div>
                {% endif %}
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}"/>
                {% endif %}
                <div class="login" style="text-align: left">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    {% comment %}<div class="checkbox">
                        <label><input type="checkbox"> Remember me</label>
                    </div>{% endcomment %}
                    <button type="submit" class="btn theme-bg-border" style="float: right">Login!</button>
                </div>
            </form>
            <div style="text-align: center; padding-top: 40px">
                <a target="_blank" href="https://arpa-e.energy.gov/" style="text-decoration: none">
                    <img style="margin-left: 10px; margin-right: 10px;"
                         src="/static/images/ARPA-E-logo.jpg"
                         width="10%" height="10%" title="ARPA-E">
                </a>
                <a style="margin-left: 15px; text-decoration: none"
                   target="_blank" href="http://www.cs.colostate.edu/cstop/index">
                    <img src="/static/images/rams-icon-dark.png" width="8.5%" height="8.5%"
                         title="Colorado State University">
                </a>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
</body>
</html>
